*{
    margin: 0px;
    padding: 0px;
}
.mainBody{
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

a:visited{
    color: white;
    
}

a{
    text-decoration: none;
    color: white;
    outline: 0;
}

.innerBody{
    padding: 50px 10px;
    height: 100%;
}