.navBar{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;

    padding: 0px;
    background: linear-gradient(to right, rgb(77, 122, 206),rgb(77, 122, 210));
    border-radius: 5px;
    position: fixed;
    width: 100%;
    top: 0px;
    
    
}

.innerNav{
    display: flex;
    flex-direction: row;
    list-style: none;

}

.navItem{
    
    font-size: 1.2em;
    padding: 15px;  
    
}


.selected{
    background: rgba(255, 255, 255, 0.1);
    height: 100%;

}

.logoutbtn{
    height: 100%;
    background: transparent;
    color: white;
    border:none;
    font-size: 1.8em;
    padding: 5px 20px;
    cursor: pointer;

}